live_config_reload = true

[env]
TERM = "xterm-256color"

[font]
size = 16.0

[font.normal]
family = "MesloLGS Nerd Font"

[[mouse.bindings]]
action = "PasteSelection"
mouse = "Middle"

[selection]
save_to_clipboard = true

[window]
decorations = "none"
opacity = 0.7
option_as_alt = "OnlyLeft"
startup_mode = "Maximized"
blur = true
